.quickpay.imgf img {
    max-height: 22px;
    width: auto;
}
.toggle-footer.quickpay.imgf img {
    background-color: white;
}
p.payment_module.quickpay a {
	padding-left: 15px;
}
p.payment_module.quickpay img {
	margin: 1px 2px 1px 0px;
}
